.dash-page{
    display: flex;
    justify-content: center;
    align-items: center;

}

.dash-container{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: center;
    width: 44%;
    /* background-color: cornsilk; */
    padding-left: 60px;
    padding-right: 60px;
}

.welcome-back{
    padding-top: 60px;
    padding-bottom: 15px;
}

.dash-nav{
    display: flex;
    justify-content: space-around;
}

.da{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
    width: 70px;
    text-align: center;
    height: 30px;
    border-radius: 20%;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    
}

.spend-nav{
    color: black;
}

.aza {
    padding-top: 20px;
    font-size: 12px;
    margin-bottom: 0;
}

.price-currency{
    display: flex;
    justify-content: space-between;
}

.ngn{
    padding-top: 12px;
    border: 1.5px solid black;
    border-radius: 35%;
    width: 70px;
    height: 35px;
    text-align: center;
    margin-top: 10px;
}

.money-stuff{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
} 

.msa {
    text-decoration: none;
    color: black;
    font-size: 17px;
    width: 80px;
    padding-bottom: 5px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.7);
    text-align: center;
}

.transact-div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 2px solid black;
    width: 70%;
    margin-top: 30px;
    margin-left: 90px;
    border-radius: 10px 10px 0 0;
    /* padding-left: 30px; */
    /* padding-right: 25px; */

}

.tt{
    font-weight: 800;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    padding-left: 30px;
    margin-bottom: 0;

}


.transaction-names{
    display: flex;
    /* margin-bottom: 20px; */
    padding-left: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: space-between;
    padding-right: 30px;
}

.transact-timedate-span{
    font-size: 11px;
}

.transact-price-credit{
    color: green;
}

.transact-price-debit{
    color: red;
}

.view-more{
    text-align: center;
}

.da:hover{
    color: black;
}

.msa:hover{
    color: blue;
    border-bottom: 1.5px solid blue;
}

.transaction-names:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);
}

.view-more:hover{
    cursor:pointer;
    color: blue;
}

.logout-button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: none;
    margin-top: 30px;
    display: block;
}

.logout-div {
    display: flex;
    justify-content: center;
}

.logout-button:hover {
    cursor: pointer;
    border: 0.1px solid black;

}

@media (max-width: 768px) {

    .dash-container {
        padding-left: 25px;
        padding-right: 25px;
        margin: none;
        width: 100%;
    }

    .dash-nav {
        /* flex-wrap: wrap; */
        gap: 10px;
    }

    .aza{
        margin-top: 0px;
    }

    

    .da {
        width: 90px;
        border-radius: 15px;
    }

    .money-stuff {
        flex-wrap: nowrap;
        gap: 15px;
    }

    .msa {
        width: 45%;
        font-size: 16px;
    }

    .price-currency h2 {
        font-size: 26px;
    }
}

@media (max-width: 480px) {

    .welcome-back {
        padding-top: 40px;
        font-size: 22px;
    }

    .dash-nav {
        justify-content: space-between;
    }

    .da {
        width: 48%;
        height: 35px;
        padding-top: 8px;
    }

    .price-currency {
        /* flex-direction: column; */
        align-items: flex-start;
        gap: 10px;
    }

    /* .ngn {
        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0px;
    } */

    .money-stuff {
        flex-direction: row;
        align-items: center;
    }

    .msa {
        width: 50px;
        font-size: 14.5px;
    }

    .transact-div {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    }

    .transaction-names {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logout-button {
        width: 30%;
    }
}
